<div class="row">
  <div class="column30Left">
    <div class="row">
      <div class="well">
        <form class="form">
          <table class="table">
            <tr>
              <td><label for="languageSelector">Languages</label> </td>
              <td>
                <select class="form-control" id="languageSelector">
                  <option *ngFor="let item of this.languages" value="{{item.key}}">{{item.key}} ({{item.docCount}})</option>
                </select>
              </td>
            </tr>
            <tr>
                <td><label for="topicsSelector">Topics</label> </td>
                <td>
                  <select class="form-control" id="topicsSelector">
                    <option *ngFor="let item of this.topics" value="{{item.key}}">{{item.key}} ({{item.docCount}})</option>
                  </select>
                </td>
              </tr>

          </table>

        </form>





      </div>

    </div>

    <div class="row">
      <div class="well">

      </div>

    </div>

  </div>
</div>