$blue-color: #16174f;
$red-color: #963019;
$white-color: #f6f1ed; //this will have black text all others white
$green-color: #667467;


.github-results-container {

    height: 350px;
   
    border: thin solid $blue-color;
    overflow-y: scroll;  
    overflow-x: scroll;
     
    .github-item {
        border-bottom: 4px double #ccc;
        width:750px;
    }
  
    .github-description {
        padding-top: 20px;
  
    }

  

    .github-image {
        img {
          margin-left: 15px;
          margin-top: 25px;
        }
        
    }
    .github-metalabel  {
      font-family: Roboto;
      font-weight: bolder;
  
      margin-left: 10px;
    }
    .github-metadata {
      
      margin-left: 4px;
    }
  }