<div class="github-results-container" *ngIf="this.pageData && this.pageData.results">

    <div *ngFor="let g of this.pageData.results">
      <div class="row github-item">
          <div class="github-image column15Left"><a target="_blank" href="{{g.url}}"><img src={{g.avatarUrl}} width="50%" height="50%"></a></div>
          <div class="column85Right">
              <div class="row github-name">
                  <h3>{{g.name}}</h3>

               </div>
             <div  [innerHTML]="getDescriptionText(g)"  class="row github-description"></div>
             <div class="row">
                <span class="github-metalabel">Stars:</span><span class="github-metadata">{{g.starCount}}</span>
                <span class="github-metalabel">Watchers:</span><span class="github-metadata">{{g.watcherCount}}</span>
                <span class="github-metalabel">Language:</span><span class="github-metadata">{{g.language}}</span>


             </div>
             <div class="row">
                <span class="github-metalabel">Topics:</span><span class="github-metadata">{{g.topics | commaPipe}}</span>

             </div>
          </div>
      </div>
      
      
    </div>

  </div> 

 