<div class="row">
    <div class="column30Left">
      <div class="well">
  
        <p *ngIf="isValidFormSubmitted && dateForm.pristine" [ngClass]="'success'">
          Form submitted successfully.
        </p>
        <div *ngIf="dateForm.invalid && isValidFormSubmitted != null && !isValidFormSubmitted" [ngClass]="'error'">
          {{this.errorInformation}}
        </div>
        <form class="form" [formGroup]="dateForm" (ngSubmit)="onFormSubmit()">
          
          <table>
            <tr>
              <td>
                <label for="year">Year</label>
              </td>
              <td>
                <input appOnlyNumber formControlName="year" type="text" size="8" id="year">
              </td>
            </tr>
             
  
          </table>
       
  
          <button class="btn  btn-primary">Submit</button>
  
        </form>
      </div>
  
    </div>
    <div class="column70Right">
  
        <nvd3 #graph [options]="options" [data]="graphData"></nvd3>
  
  
    </div>
  </div>
  <div class="row">
  
    <app-error-display></app-error-display>
  </div>