
<section id="pageContainer">
  <header>
    <figure class="logo">GitHub Data Browser</figure>
    <nav menu class="topMenu grouping">

      <ul>
   
        <li><a routerLink="/description-search">Description Search</a></li>
        <li><a routerLink="/date-query">Date Query</a></li>
        <li><a routerLink="/term-page">Term Query</a></li>
        <li><a routerLink="/suggest-page">Type Ahead</a></li>
        <li><a routerLink="/graph-page">Graphs</a></li>
        <li><a routerLink="/">Home</a></li>


      </ul>

    </nav>
  </header>
  <section id="main" class="grouping">
    <div class="mainPageContainer">
      <router-outlet></router-outlet>
    </div>
  </section>
</section>