<div class="column50Left">
  <h3>Github Repository Data</h3>
  <div class="row">
    A demonstration of ElasticSearch and Angular using github data. Appoximately 30,000 records from github are loaded into Elastic
    Search and queried via a REST service written in Spring Boot, using ElasticSearch on the backend.


  </div>


  <div class="row">
 <a target="_blank" [href]="this.swaggerURL">Swagger Documentation</a>
  </div>


</div>
<div class="column30Right">
  <h4>Front End Source Code</h4>
  <div class="row">
    <blockquote>
      <a href="https://github.com/donhenton/angular4-snippets" target="_blank">GitHub Repository</a>
    </blockquote>
  </div>
  <h4>REST Service Source Code</h4>
  <div class="row">
    <blockquote>
      <a href="https://github.com/donhenton/elastic-demo" target="_blank">GitHub Repository</a>
    </blockquote>
  </div>
</div>